.App {
  text-align: center;
}

.navbar-custom {
  min-height: 64px;
}

.submit-butn {
  margin-top: 4px;
  cursor: pointer;
  font-weight: 400;
  padding: 11px 28px;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  color: #fff;
  transition: all 0.25s ease;
  display: flex;
  justify-content: center;
}

.message-register {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#input-custom {
  width : 40%;
  margin-top: 15px;
  margin-left: 410px;
}

#button-custom {
  margin-top: 15px;
}